# Posttest 4

Kode Import

In [2]:

import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

Membaca data

In [5]:
Employee  = pd.read_csv("Total.csv", delimiter=',')
Employee.head()

<ipython-input-5-319a4e0b7f53>:1: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  Employee  = pd.read_csv("Total.csv", delimiter=',')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

Info Data

In [8]:
Employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [10]:
Employee.shape

(312882, 9)

 1. **Bagi dataset menjadi training set dan testing set dengan proporsi 70:30**

In [12]:
X = Employee.iloc[:, : -1]
y = Employee.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (219017, 8)
Dimensi X_test (93865, 8)
Dimensi y_train (219017,)
Dimensi y_test (93865,)

2. Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [13]:
min_max = MinMaxScaler()

# Copy Data
copy1 = Employee
dataCopy_normalization = copy1[["TotalPay"]]

normalization = min_max.fit_transform(dataCopy_normalization[["TotalPay"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["TotalPay_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["TotalPay_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

    TotalPay  TotalPay_normalisasi
0  567595.43              0.958181
1  538909.28              0.909808
2  335279.91              0.566427
3  332343.61              0.561475
4  326373.19              0.551407
5  316285.74              0.534397
6  315981.05              0.533883
7  307899.46              0.520255
8  303427.55              0.512714
9  302377.73              0.510943

**3. Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)**

In [16]:
Employee_copy = Employee.copy()
columns_to_scale = [ 'TotalPay', 'TotalPayBenefits','Year']

scaler = StandardScaler()
Employee_copy[columns_to_scale] = scaler.fit_transform(Employee_copy[columns_to_scale])

In [19]:

print("Data Sebelum Scaling:")
print(Employee[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(Employee_copy[columns_to_scale].head())

Data Sebelum Scaling:
    TotalPay  TotalPayBenefits  Year
0  567595.43         567595.43  2011
1  538909.28         538909.28  2011
2  335279.91         335279.91  2011
3  332343.61         332343.61  2011
4  326373.19         326373.19  2011

Data Sesudah Scaling:
   TotalPay  TotalPayBenefits      Year
0  9.182540          7.019125 -1.582483
1  8.643637          6.587658 -1.582483
2  4.818223          3.524875 -1.582483
3  4.763061          3.480710 -1.582483
4  4.650900          3.390909 -1.582483

4. Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [20]:
Employee.isnull().sum()

EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

>> Membuat Nilai Null

In [22]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None


Employee.EmployeeName[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]]=None;
Employee.Year[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]]=None;
Employee.TotalPay	[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]]=None;

Membuat data tulisan dengan fungsi modus

In [25]:
strategi1 = SimpleImputer(missing_values=None, strategy="most_frequent")

Employee["EmployeeName"] = strategi1.fit_transform(Employee[["EmployeeName"]])

Employee.isna().sum()

EmployeeName         0
JobTitle             0
BasePay              0
OvertimePay          0
OtherPay             0
Benefits             0
TotalPay            11
TotalPayBenefits     0
Year                11
dtype: int64

In [26]:
print(Employee.EmployeeName[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]])

1590      Kevin Lee
18080     Kevin Lee
15000     Kevin Lee
29000     Kevin Lee
43300     Kevin Lee
50000     Kevin Lee
60000     Kevin Lee
75000     Kevin Lee
80000     Kevin Lee
90000     Kevin Lee
300000    Kevin Lee
Name: EmployeeName, dtype: object

Membuat data int menggunakan fungsiMedian

In [27]:
strategi2 = SimpleImputer(strategy="median")

Employee["Year"] = strategi2.fit_transform(Employee[["Year"]])

Employee.isna().sum()

EmployeeName         0
JobTitle             0
BasePay              0
OvertimePay          0
OtherPay             0
Benefits             0
TotalPay            11
TotalPayBenefits     0
Year                 0
dtype: int64

In [28]:
print(Employee.Year[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]])

1590      2015.0
18080     2015.0
15000     2015.0
29000     2015.0
43300     2015.0
50000     2015.0
60000     2015.0
75000     2015.0
80000     2015.0
90000     2015.0
300000    2015.0
Name: Year, dtype: float64

Membuat data float(desimal) menggunakan fungsi mean

In [30]:
strategi3 = SimpleImputer(strategy="mean")

Employee["TotalPay"] = strategi3.fit_transform(Employee[["TotalPay"]])

Employee.isna().sum()

EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [31]:
print(Employee.TotalPay	[[1590,18080,15000,29000,43300,50000,60000,75000,80000,90000,300000]])

1590      78802.138569
18080     78802.138569
15000     78802.138569
29000     78802.138569
43300     78802.138569
50000     78802.138569
60000     78802.138569
75000     78802.138569
80000     78802.138569
90000     78802.138569
300000    78802.138569
Name: TotalPay, dtype: float64

5. Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [32]:
Employee[Employee.duplicated()]

print("Jumlah Data Duplikat : ")
Employee.duplicated().sum()

Jumlah Data Duplikat :

0

>> Memnuat data duplikat

In [33]:
Employee.iloc[1,:] = Employee.iloc[0,:]

Data yang di duplikat sebelumnya

In [34]:
Employee[Employee.duplicated()]

print("Jumlah Data Duplikat : ")
Employee.duplicated().sum()

Jumlah Data Duplikat :

1

In [35]:
Employee.drop_duplicates(inplace=True)

hasil = Employee.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

>> sebelum data di ubah

6. Ganti tipe data salah satu attribute angka

In [43]:
print("Tipe data Year Sebelum di ubah :")
Employee.dtypes

Tipe data Year Sebelum di ubah :

EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

>> Sesudah Di ubah

In [44]:
Employee['Year'] = Employee['Year'].astype('float64')

print("Tipe data BasePay sesudah di ubah :")
Employee.dtypes

Tipe data BasePay sesudah di ubah :

EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                float64
dtype: object

7. Lakukan one hot encoding pada dataset yang kalian miliki

In [6]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(Employee[["JobTitle"]])
Employee_onehot = pd.DataFrame(onehot)
Employee_encoder = Employee.join(Employee_onehot)
Employee_encoder.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,0,...,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

file Csv

https://drive.google.com/drive/u/0/folders/1_J82UBuVA2afTnUj6PmD5JyOviCe2oMP